

@use "../styles/home" as *;
@use "../styles/button" as *;
@use "../styles/footer" as *;
@use "../styles/header" as *;
@use "../styles/text" as *;
@use "../styles/other" as *;

:root {
  --background: #F6F2FB;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Urbanist, sans-serif;
}
