@use "../styles/home" as *;
@use "../styles/about" as *;
@use "../styles/button" as *;
@use "../styles/footer" as *;
@use "../styles/header" as *;
@use "../styles/text" as *;
@use "../styles/other" as *;
@use "../styles/charging-point" as *;

:root {
  --background: #f6f2fb;
  --foreground: #171717;
}

html {
  font-family: var(--font-montserrat), sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--background);
  color: var(--foreground);
}
