.about {
  .hero {
    background: url("/about/hero-background.png") center/cover no-repeat;
    width: 100%;
    aspect-ratio: 2.5/1;
    color: white;

    .overlay {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 68.9%,
        #f5f5f5 94.88%
      );
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;
      font-size: 3rem;
      .text-hightlight {
        color: #ffde15;
        font-weight: 700;
      }
    }
  }

  .content {
    padding: 0 10rem;

    .about-us {
      display: flex;
      flex: 3;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      gap: 5rem;
      padding: 3rem 0;

      .about-us-left {
        .about-us-left-image {
          width: 32rem;
          background: url("/about/about-us-image.png") center/cover no-repeat;
          aspect-ratio: 1.6/1;
        }
      }

      .about-us-right {
        width: 50%;
        padding-left: 1rem;
        h3 {
          font-size: 2.5rem;
          width: fit-content;
        }

        ul {
          margin-top: 1.5rem;
          list-style: none;
          padding-left: 2rem;
          line-height: 160%;
          font-size: 1.375rem;
        }
      }
    }

    .vision-mission-container {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;

      ul {
        margin-top: 1.5rem;
        list-style: none;
        line-height: 160%;
      }

      .title-container {
        font-size: 2.5rem;
        background-color: var(--background);
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.5rem 2.5rem;
        border-bottom-right-radius: 1rem;

        h3 {
          // font-size: 2.5rem;
          // background-color: var(--background);
          // position: absolute;
          // top: 0;
          // left: 0;
          // padding: 0.5rem 2.5rem;
          // border-bottom-right-radius: 1rem;
        }

        .title-content {
          position: relative;
          .mask-border-1-container {
            position: absolute;
            bottom: -1.5rem;
            left: -2.5rem;
          }

          .mask-border-2-container {
            position: absolute;
            top: -0.5rem;
            right: -3.5rem;
          }
        }
      }

      .vision,
      .mission {
        flex: 1;
        padding: 4rem 8rem 2rem 2rem;
        background-color: #ffffff;
        position: relative;
        border-radius: 1rem;

        .image {
          position: absolute;
          top: 0;
          right: 0;
          width: 150px;
          height: 150px;
          border-top-right-radius: 1rem;
        }
      }

      .vision .image {
        background: url("/about/vision-image.png") center/cover no-repeat;
      }

      .mission .image {
        background: url("/about/mission-image.png") center/cover no-repeat;
      }
    }
  }
}
