.about {
  .hero {
    background: url("/about/hero-background.png") center/cover no-repeat;
    width: 100%;
    aspect-ratio: 2.5/1;
    color: white;

    .overlay {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 68.9%,
        #f5f5f5 94.88%
      );
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;
      font-size: 3rem;
      .text-hightlight {
        color: #ffde15;
        font-weight: 700;
      }
    }
  }

  .content {
    display: flex;
    padding: 0 10rem;
    // width: 100%;
    flex-wrap: wrap;

    .about-us {
      display: flex;
      flex: 3;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      gap: 5rem;

      flex-basis: 100%;
      flex-grow: 1;

      .about-us-left {
        background: url("/about/about-us-image.png") center/cover no-repeat;
        width: 50%;
        aspect-ratio: 1/1;
      }

      .about-us-right {
        h3 {
          font-size: 2.5rem;
          width: fit-content;
        }

        ul {
          margin-top: 1.5rem;
          list-style: none;
          padding-left: 2rem;
          line-height: 160%;
        }
      }
    }

    .vision {
      flex-basis: 50%;
      flex-grow: 1;

      ul {
        margin-top: 1.5rem;
        list-style: none;
        padding-left: 2rem;
        line-height: 160%;
      }
    }

    .mission {
      flex-basis: 50%;
      flex-grow: 1;

      ul {
        margin-top: 1.5rem;
        list-style: none;
        padding-left: 2rem;
        line-height: 160%;
      }
    }
  }
}
