.btn-container {
  display: flex;
  background-color: rgba(255, 231, 77, 0.5);
  width: fit-content;
  padding: 2px;
  border-radius: 60px;
  border: 1px solid #ffdc00;

  &.outline-padding {
    &-small {
      padding: 2px;
    }
    &-medium {
      padding: 6px;
    }
    &-large {
      padding: 8px;
    }
  }
  height: fit-content;
}

.btn {
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: #ffdc00;
  color: #000;
  padding: 0.6rem 0.8rem;
  border-radius: 2rem;
  font-weight: 600;
}

.btn-secondary {
  background: #ffffff;
  color: #262138;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-weight: 600;
}

.btn-transparent {
  background: transparent;
  color: #262138;
  border-radius: 2rem;
  font-weight: 600;
}

.btn-outline {
  background: transparent;
  border: 1px solid currentColor;
}
