.charging-point {
  .hero {
    width: 100%;
    aspect-ratio: 2/1;
    background: url("/charging-point/hero-image.png") center/cover no-repeat;

    .overlay {
      background: linear-gradient(
        180deg,
        #0c0022 0%,
        rgba(38, 33, 56, 0.5) 27.84%,
        rgba(38, 33, 56, 0) 47.99%
      );
      width: 100%;
      height: 100%;
    }
  }

  .section-content-container {
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  .download-app-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;

    .image {
      background: url("/charging-point/download-app-image.png") center/cover
        no-repeat;
      width: 18rem;
      aspect-ratio: 1/1;
      border-radius: 1.25rem;
    }

    .download-app-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span {
        font-weight: 600;
        font-size: 3rem;
        line-height: 120%;
      }

      .link-app-button {
        display: flex;
        gap: 2rem;
        .app-store {
          width: 420px;
          height: 124px;
          background: url("/charging-point/app-store.png") center/cover
            no-repeat;
        }

        .google-store {
          width: 420px;
          height: 124px;
          background: url("/charging-point/google-store.png") center/cover
            no-repeat;
        }
      }
    }
  }

  .charging-point-list {
    max-width: 1200px;
    width: 100%;
    align-self: center;
    .charging-point-list-header {
      h4 {
        width: fit-content;
        font-weight: 700;
        font-style: Bold;
        font-size: 1.25rem;
      }

      .cta {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .left {
          font-weight: 600;
          font-size: 48px;
          line-height: 120%;
        }

        .right {
          div {
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    .map {
      width: 100%;
      aspect-ratio: 1/0.8;
      border: 4px solid #ffffff;
      border-radius: 2rem;
      overflow: hidden;
      position: relative;

      .select-location {
        position: absolute;
        top: 3rem;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        width: 90%;
        border-radius: 1.25rem;
        background: #FFFFFF5C;
        justify-content: center;

        gap: 2rem;

        border: 4px solid #ffffff57;

        backdrop-filter: blur(100px);

        box-shadow: 1px 17px 38px 0px #00000014;

        box-shadow: 2px 68px 68px 0px #00000012;

        box-shadow: 5px 154px 92px 0px #0000000A;

        box-shadow: 10px 273px 109px 0px #00000003;

        box-shadow: 15px 426px 119px 0px #00000000;
      }
    }
  }
}
