.faq {
  .hero {
    background: url("/faq/hero-background.png") center/cover no-repeat;
    width: 100%;
    aspect-ratio: 2.5/1;
    color: white;

    .overlay {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 68.9%,
        #f5f5f5 94.88%
      );
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;
      font-size: 3rem;
      .text-hightlight {
        color: #ffde15;
        font-weight: 700;
      }
    }
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: center;

    .faq-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 50rem;
      padding: 2rem;
    }
  }

  .faq-item {
    border-bottom: 1px solid #b4b4b4;
    padding: 1rem 1.25rem;
    cursor: pointer;

    .faq-header {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 1rem;

      display: flex;
      justify-content: space-between;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      

      &.open {
        .icon {
          transform: rotate(180deg);
        }
      }
    }

    .faq-content {
      font-weight: 300;
      font-size: 1.25rem;
      line-height: 1.75rem;
      display: none;

      &.open {
        display: block;
      }
    }
  }
}
