@use "../styles/variables" as *;

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background: transparent;
  width: 100%;
  z-index: 10;

  // background: linear-gradient(
  //   180deg,
  //   #0c0022 0%,
  //   rgba(18, 7, 59, 0.5) 93.07%,
  //   rgba(255, 222, 21, 0) 96.49%
  // );

  .logo {
    font-weight: 700;
    font-size: 1.2rem;
    color: #ffdc00;
  }

  .nav a {
    padding: 0 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    position: relative;

    &.active::after {
      content: "";
      position: absolute;
      top: -0.2rem;
      right: 1.5rem;
      width: 0.4rem;
      height: 0.4rem;
      background-color: #fdd835;
      border-radius: 50%;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .btn-contact {
      border-radius: 25px;
      padding: 0.4rem 1.25rem;
      font-size: 1.25rem;
    }

    .btn-lang {
      font-weight: 400;
      font-size: 1rem;
      color: #fff;
      padding: 0.2rem 1rem;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .header {
    .nav {
      display: none;
    }
    .actions {
      display: none;
    }
  }
}
