.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  // backdrop-filter: blur(8px);
  background: transparent;
  z-index: 1;
  width: 100%;

  .logo {
    font-weight: 700;
    font-size: 1.2rem;
    color: #ffdc00;
  }

  .nav a {
    margin: 0 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .btn-lang,
    .btn-contact {
      color: #000;
      border: none;
      border-radius: 25px;
      padding: 0.2rem 1rem;
      cursor: pointer;
      font-weight: 600;
    }
  }
}