@use "../styles/variables" as *;
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  min-height: 100vh;
  position: relative;
  .social-contact-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
    cursor: pointer;

    .social-contact-item {
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
    }
  }
}

.hero {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100vh;

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    gap: 3rem;

    > div {
      transform: translateY(-100px);
    }

    h1 {
      font-size: 6rem;
      font-weight: 700;
      color: #fff;
      font-family: var(--font-DFVN-MBF-Space-Habitat);
    }

    .subtitle {
      margin-top: 1rem;
      padding-left: 1rem;
      font-size: 1.5rem;
      color: #ddd;
      text-transform: uppercase;
    }

    .hero-content-cta {
      display: flex;
      align-items: center;
      gap: 2rem;

      .stats {
        display: flex;
        flex-direction: row;
        gap: 3rem;

        h3 {
          font-size: 2.25rem;
          color: #fff;
        }
        p {
          color: #ccc;
          font-size: 1rem;
        }
      }

      .tutorial {
        p {
          font-size: 1.25rem;
          color: #fff;
          margin-bottom: 0.5rem;
        }

        .btn-tutorial {
          background: transparent;
          color: #fff;
          font-weight: 600;
          font-size: 1.25rem;
          border: none;
          text-decoration: none;

          span {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

.hero-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  // background: url("/home/banner.png") center/cover no-repeat;

  background: linear-gradient(
      180deg,
      #0c0022 0%,
      rgba(18, 7, 59, 0.5) 50%,
      rgba(255, 222, 21, 0) 100%
    ),
    url("/home/banner.png") center/cover no-repeat;

  .overlay {
    position: absolute;
    inset: 0;

    pointer-events: none;
  }
}

.features {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(50%);
  color: #ffffff;

  .feature-card {
    border-radius: 1.25rem;
    width: 25rem;

    .overlay {
      background: rgba(12, 0, 34, 0.7);
      padding: 2rem;
      border-radius: 20px;
      height: 100%;
    }

    h4 {
      font-size: 2rem;
    }

    &.card-1 {
      display: flex;
      flex-direction: column;
      position: relative;
      background: url("/home/feature-1.png") center/cover no-repeat;
      height: 25rem;
      min-height: max-content;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        .item-wrapper {
          display: flex;
          flex-wrap: wrap;
          gap: 0.75rem;
          margin-top: 2.25rem;
          margin-bottom: 1.5rem;

          .item {
            border: 1px solid #ffffff;
            padding: 0.3rem 0.9rem;
            border-radius: 1.5rem;
            text-wrap: nowrap;
          }
        }
      }
    }

    &.card-2 {
      position: relative;
      background: url("/home/feature-2.png") center/cover no-repeat;
      height: 30rem;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        .text-1 {
          font-family: var(--font-DFVN-MBF-Space-Habitat);
          font-size: 32px;
        }
        .text-2,
        .text-3 {
          font-size: 14px;
        }
      }
    }

    &.card-3 {
      display: flex;
      flex-direction: column;
      position: relative;
      background: url("/home/feature-3.png") center/cover no-repeat;
      text-transform: uppercase;
      min-height: max-content;
      height: 25rem;

      .text-1 {
        font-size: 3rem;
        font-weight: 500;
        font-style: Medium;
      }
      .text-2 {
        font-weight: 600;
        font-style: SemiBold;
        font-size: 1.5rem;
      }
      .text-3 {
        font-weight: 500;
        font-style: Medium;
        font-size: 2rem;
        margin-top: 2rem;
      }
    }
  }
}

.features-mobile {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .features-mobile-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    text-align: center;
  }

  .btn svg {
    width: 0.75rem;
    width: 0.75rem;
    path {
      stroke: #ffde15;
    }
  }

  .overlay {
    background: rgba(12, 0, 34, 0.7);
    padding: 1rem;
    border-radius: 1.25rem;
    height: 100%;
  }

  .item-1 {
    background: url("/home/feature-1.png") center/cover no-repeat;
  }

  .item-2 {
    background: url("/home/feature-2.png") center/cover no-repeat;
  }

  .item-3 {
    background: url("/home/feature-3.png") center/cover no-repeat;

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .text-1 {
      font-weight: 700;
      font-style: Bold;
      font-size: 32px;
      text-transform: uppercase;
      color: #ffffff;
    }
    .text-2 {
      font-weight: 600;
      font-size: 24px;
      font-variant: small-caps;
      color: #ffffff;
    }
    .text-3 {
      font-weight: 500;
      font-size: 1rem;
      text-align: right;
      font-variant: small-caps;
      color: #ffde15;
      align-self: flex-end;
    }
  }
}

.section-container {
  margin-top: 22rem;
  padding: 0 14rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.whychoose {
  .whychoose-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .whychoose-left {
    min-width: 300px;
  }

  .whychoose-right {
    min-width: 280px;
    background: #ffffffd9;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    .whychoose-button {
      font-size: 1rem;
      font-size: medium;
      font-weight: 500;
    }
  }

  .whychoose-subtitle {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #222;
  }

  .whychoose-title {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    color: #222;
  }

  .whychoose-desc {
    font-size: 15px;
    line-height: 1.6;
    color: #444;
  }

  .whychoose-right ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;

    li {
      font-size: 15px;
      margin-bottom: 8px;
      color: #333;
    }
  }
}

.howtouse {
  display: flex;
  flex-direction: column;

  .howtouse-header {
    .howtouse-subtitle {
      font-size: 1.25rem;
      font-weight: 700;
      color: #222;
      margin-bottom: 0.5rem;
      width: fit-content;
    }

    .howtouse-title {
      font-weight: 800;
      margin-bottom: 2rem;
      color: #222;
      font-size: 4rem;
    }
  }

  .howtouse-container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    .howtouse-left {
      width: 25.5rem;
      aspect-ratio: 1 / 1;
      border-radius: 1rem;
      background: url("/home/feature-2.png") center/cover no-repeat;
    }

    .howtouse-right {
      min-width: 320px;
      .howtouse-steps {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .step {
          display: flex;

          .step-title {
            display: flex;
            align-items: center;
            width: 300px;
            gap: 1rem;

            .step-icon {
              color: #222;
              font-size: 18px;
              line-height: 1;
              margin-top: 2px;
            }

            span {
              font-size: 16px;
              font-weight: 700;
              color: #222;
              flex: 0 0 60%;
            }
          }

          p {
            flex: 1;
            font-size: 14px;
            color: #555;
          }
        }
      }
    }
  }

  .howtouse-button-container {
    margin-top: 2.5rem;
    font-size: 1.25rem;
  }
}

.easy-to-use {
  .easy-to-use-header {
    .easy-to-use-subtitle {
      font-size: 1.25rem;
      font-weight: 700;
      color: #222;
      margin-bottom: 0.5rem;
      width: fit-content;
      text-transform: uppercase;
    }

    .easy-to-use-title {
      font-size: 4rem;
      font-weight: 800;
      margin-bottom: 2rem;
      color: #222;
      text-transform: uppercase;
    }
  }

  .easy-to-use-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 1rem;

    .step-item {
      border-radius: 1.5rem;
      background-color: #ffde15;

      .image-container {
        position: relative;
        border-radius: 1.5rem;
        .image {
          width: 100%;
          height: 100%;
          border-radius: 1.5rem;
          position: relative !important;
        }
      }
      .desc {
        padding: 1rem 2rem;
        text-align: center;
        font-size: 1.25rem;

        span {
          font-weight: 500;
        }
      }
    }
  }
}

.outstanding-features {
  .outstanding-features-header {
    .outstanding-features-subtitle {
      font-size: 1.25rem;
      font-weight: 700;
      color: #222;
      margin-bottom: 8px;
      width: fit-content;
      text-transform: uppercase;
    }

    .outstanding-features-title-container {
      display: flex;
      justify-content: space-between;
      color: #262138;

      .outstanding-features-title {
        font-size: 4rem;
        font-weight: 800;
        margin-bottom: 32px;
        color: #222;
        text-transform: uppercase;
        margin-right: 2rem;
      }

      .outstanding-features-title-cta {
        margin-right: 2rem;
        div {
          font-size: 1.5rem;
          margin-bottom: 0.75rem;
        }

        .outstanding-features-learn-more-button {
          font-size: 1.5rem;
        }
      }
    }
  }

  .outstanding-features-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 1rem;
    width: 100%;
    position: relative;

    .overlay {
      position: absolute;
      pointer-events: none;
      background: #ffde1566;
      border-radius: 50%;
      width: 100%;
      height: 40%;
      position: absolute;
      top: 50%;
      box-shadow: 0 0 70px 20px #ffde1580;
    }

    .feature-item {
      z-index: 10;
      flex: 1;
      border-radius: 1rem;
      position: relative;
      aspect-ratio: 1 / 1.25;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      // background: linear-gradient(#fff0 12.9%, #fff 81.17%);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background: #fff;

      // z-index: 10;
      .image-container {
        position: relative;
        z-index: -1;
        flex: 1;
      }
      .text-container {
        flex: 1;
        padding: 1rem;
        h4 {
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
          z-index: 1;
          position: relative;
          align-self: flex-end;
          color: #4a4363;
          // padding-top: 11rem;
        }

        p {
          font-size: 1rem;
          line-height: 1.5;
          z-index: 1;
          position: relative;
          color: #000000;
        }
      }

      .image {
        z-index: -1;
      }
    }
  }
}

.core-values {
  .core-values-header {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .core-values-title-container {
      flex: 1.5;
      .core-values-subtitle {
        font-size: 1.25rem;
        font-weight: 700;
        color: #222;
        margin-bottom: 8px;
        width: fit-content;
        text-transform: uppercase;
      }

      .core-values-title {
        font-size: 4rem;
        font-weight: 800;
        color: #222;
      }
    }

    .core-values-title-cta {
      flex: 1;
      color: #262138;
      align-self: flex-end;
      font-size: 1rem;
      line-height: 1.5rem;
      ul {
        list-style: none;
      }
    }
  }

  .core-values-content-container {
    background: url("/home/core-values.png") center/cover no-repeat;
    width: 100%;
    aspect-ratio: 10/ 3;
    position: relative;
    margin-top: 2rem;

    .learn-more-button-container {
      position: absolute;
      bottom: 0rem;
      right: 0rem;
      padding: 1.25rem 0 0 1.25rem;
      border-radius: 2rem 0 0 0;
      background: var(--background);

      .learn-more-button {
        font-size: 3rem;
        padding: 1rem 2rem;

        svg {
          width: 1.25rem;
          height: 1.25rem;
          margin-left: 1rem;
        }
      }

      .content-container {
        position: relative;
        .mask-border-1-container {
          position: absolute;
          bottom: 0;
          left: -3.75rem;
        }
        .mask-border-2-container {
          position: absolute;
          top: -3.75rem;
          right: 0;
        }
      }
    }
  }
}

.customer-stories {
  .customer-stories-header {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .customer-stories-title-container {
      flex: 1.5;
      .customer-stories-subtitle {
        font-size: 1.25rem;
        font-weight: 700;
        color: #222;
        margin-bottom: 8px;
        width: fit-content;
        text-transform: uppercase;
      }

      .customer-stories-title {
        margin-top: 1rem;
        font-size: 4rem;
        font-weight: 800;
        color: #222;
        text-transform: uppercase;
      }

      .customer-stories-content {
        margin-top: 1rem;
      }
    }

    .customer-stories-title-cta {
      background: url("/home/core-values.png") center/cover no-repeat;
      width: 100%;
      aspect-ratio: 2 / 1;
      position: relative;
      flex: 1;
      border-radius: 1.25rem;

      .learn-more-button-container {
        position: absolute;
        bottom: 0rem;
        left: 0rem;
        padding: 1rem 2rem 1rem 0;
        border-radius: 0 1rem 0 0;
        background: var(--background);

        .learn-more-button {
          font-size: 1.25rem;
        }

        .content-container {
          position: relative;
          .mask-border-1-container {
            position: absolute;
            bottom: -1rem;
            right: -3rem;
          }
          .mask-border-2-container {
            position: absolute;
            top: -2rem;
            left: 0;
          }
        }
      }
    }
  }

  .customer-stories-content-container {
    overflow: hidden;

    .comments-container {
      display: flex;
      margin-top: 2rem;
      width: max-content;
      animation: marquee 20s linear infinite;
      will-change: transform;

      & > * {
        margin-right: 1rem;
      }

      @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }

      &:hover {
        animation-play-state: paused;
      }

      // animation: marquee 10s linear infinite;
      // @keyframes marquee {
      //   0% {
      //     transform: translateX(0); /* Bắt đầu từ vị trí gốc */
      //   }
      //   100% {
      //     /* Trượt sang trái đúng một nửa tổng chiều rộng (tức là hết 1 danh sách) */
      //     transform: translateX(-50%);
      //   }
      // }
    }

    .question-list-container {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      justify-content: space-between;
      gap: 2rem;

      .question-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        flex: 1;
        .question-item {
          border-radius: 5rem;
          background-color: #ffffff;
          font-size: 1.25rem;
          color: #4a4363;
          padding: 0.5rem 1rem;
          display: flex;
          align-items: center;
          text-wrap: nowrap;
          text-decoration: none;
          p {
            padding: 0.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .section-container {
    margin-top: 0rem;
    padding: 0 2rem;
  }

  .hero {
    height: 32rem;

    .hero-content {
      text-align: center;
      height: 100%;

      h1 {
        font-size: 3rem;
        color: #ffde15;
      }

      p {
        font-size: 1rem;
      }

      .hero-content-cta {
        flex-direction: column;
        position: relative;

        .stats,
        .tutorial {
          display: none;
        }
      }
    }
  }

  .features {
    display: none;
  }

  .whychoose {
    flex-direction: column;
    .whychoose-container {
      flex-direction: column;

      .whychoose-title {
        font-size: 2rem;
      }
    }
  }

  .howtouse {
    flex-direction: column;
    .howtouse-container {
      flex-direction: column;

      .howtouse-left {
        width: 100%;
      }

      .howtouse-right {
        .howtouse-steps {
          .step {
            flex-direction: column;
            gap: 0.5rem;

            .step-title {
              width: 100%;
              span {
                flex: 0 0 80%;
              }
            }
          }
        }
      }
    }

    .howtouse-header {
      .howtouse-title {
        font-size: 2rem;
      }
    }
  }

  .outstanding-features {
    flex-direction: column;

    .outstanding-features-header {
      .outstanding-features-title-container {
        .outstanding-features-title {
          font-size: 2rem;
        }
      }
    }
    .outstanding-features-title-container {
      flex-direction: column;
    }
  }

  .core-values {
    flex-direction: column;

    .core-values-header {
      flex-direction: column;

      .core-values-title-container {
        .core-values-title {
          font-size: 2rem;
        }
      }
    }

    .core-values-content-container {
      width: 100%;
      aspect-ratio: 2.5/ 1;
      position: relative;

      .learn-more-button-container {
        position: absolute;
        bottom: 0rem;
        right: 0rem;
        padding: 0.5rem 0 0 0.5rem;
        border-radius: 1rem 0 0 0;
        background: var(--background);

        .learn-more-button {
          font-size: 1rem;
          padding: 0.5rem 1rem;

          svg {
            width: 0.75rem;
            height: 0.75rem;
            margin-left: 0rem;
          }
        }

        .content-container {
          position: relative;
          .mask-border-1-container {
            position: absolute;
            bottom: 0;
            left: -1.5rem;
          }
          .mask-border-2-container {
            position: absolute;
            top: -1.5rem;
            right: 0;
          }
        }
      }
    }
  }

  .customer-stories {
    .customer-stories-header {
      flex-direction: column;
      .customer-stories-title-container {
        .customer-stories-title {
          font-size: 2rem;
        }
      }

      .customer-stories-title-cta {
        aspect-ratio: 2 / 1;
        border-radius: 1.25rem;

        .learn-more-button-container {
          padding: 0.5rem 0.8rem 0.5rem 0;
          border-radius: 0 1rem 0 0;
          background: var(--background);

          .learn-more-button {
            font-size: 1.25rem;
          }

          .content-container {
            position: relative;
            .mask-border-1-container {
              position: absolute;
              bottom: -0.5rem;
              right: -1.75rem;
            }
            .mask-border-2-container {
              position: absolute;
              top: -1.5rem;
              left: 0;
            }
          }
        }
      }
    }

    .customer-stories-content-container {
      .question-list-container {
        .question-list {
          .question-item {
            text-wrap: wrap;
          }
        }
      }

      .comments-container {
        display: none;
      }

      .comments-mobile-container {
        margin-top: 2rem;
        .slide {
          padding-bottom: 2.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .features-mobile {
    display: none !important;
  }

  .comments-mobile-container {
    display: none !important;
  }
}
