@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  background: linear-gradient(180deg, #001f40, #0a2d5e 40%, #fff 100%);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  backdrop-filter: blur(8px);

  .logo {
    font-weight: 700;
    font-size: 1.2rem;
    color: #ffdc00;
  }

  .nav a {
    margin: 0 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .btn-lang,
    .btn-contact {
      color: #000;
      border: none;
      border-radius: 25px;
      padding: 0.2rem 1rem;
      cursor: pointer;
      font-weight: 600;
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 3rem;
  flex-wrap: wrap;
  .hero-content {
    // max-width: 1000px;
    z-index: 1;

    h1 {
      font-size: 4rem;
      font-weight: 700;
      color: #fff;
    }

    p {
      margin-top: 1rem;
      font-size: 1.1rem;
      color: #ddd;
    }

    .hero-content-cta {
      display: flex;
      align-items: center;
      gap: 2rem;

      .stats {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-top: 2rem;

        h3 {
          font-size: 2.25rem;
          color: #fff;
        }
        p {
          color: #ccc;
          font-size: 1rem;
        }
      }

      .tuturial {
        .btn-tuturial {
          margin-top: 0.5rem;
          background: transparent;
          color: #fff;
          font-weight: 600;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

.hero-background-container {
  .image {
    width: 100%;
    max-height: 100%;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      #0c0022 0%,
      rgba(18, 7, 59, 0.5) 42.07%,
      rgba(255, 222, 21, 0) 96.49%
    );
    pointer-events: none; // để không che click
  }
}

.features {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  //   gap: 1.5rem;
  //   padding: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 24rem;

  .feature-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    width: fit-content;

    h4 {
      font-size: 2rem;
      color: #ffffff;
    }

    &.card-1 {
      background: #000000cc;
      .content {
        display: flex;
        gap: 0.75rem;
        margin-top: 2.25rem;
        margin-bottom: 1.5rem;

        .item {
          border: 1px solid #ffffff;
          padding: 0.3rem 0.9rem;
          border-radius: 1.5rem;
        }
      }
    }

    &.card-2 {
      background: #000000cc;
    }
    &.card-3 {
      background: #000000cc;
    }
  }
}
