* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  position: relative;
  .hero-content {
    width: 100%;
    padding: 12rem 0 22rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    h1 {
      font-size: 6rem;
      font-weight: 700;
      color: #fff;
    }

    p {
      margin-top: 1rem;
      font-size: 1.5rem;
      color: #ddd;
      text-transform: uppercase;
    }

    .hero-content-cta {
      display: flex;
      align-items: center;
      gap: 2rem;

      .stats {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-top: 2rem;

        h3 {
          font-size: 2.25rem;
          color: #fff;
        }
        p {
          color: #ccc;
          font-size: 1rem;
        }
      }

      .tutorial {
        p {
          font-size: 1.25rem;
        }

        .btn-tutorial {
          margin-top: 0.5rem;
          background: transparent;
          color: #fff;
          font-weight: 600;
          font-size: 1.25rem;
          border: none;
          cursor: pointer;
          span {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

.hero-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/home/banner.png") center/cover no-repeat;

  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      #0c0022 0%,
      rgba(18, 7, 59, 0.5) 42.07%,
      rgba(255, 222, 21, 0) 96.49%
    );
    pointer-events: none;
  }
}

.features {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(50%);
  color: #ffffff;

  .feature-card {
    border-radius: 1.25rem;
    font-family: "Montserrat", sans-serif;
    width: 25rem;

    .overlay {
      background: rgba(12, 0, 34, 0.7);
      padding: 2rem;
      border-radius: 20px;
      height: 100%;
    }

    h4 {
      font-size: 2rem;
    }

    &.card-1 {
      display: flex;
      flex-direction: column;
      position: relative;
      background: url("/home/feature-1.png") center/cover no-repeat;
      aspect-ratio: 1 / 1;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        
        .item-wrapper {
          display: flex;
          flex-wrap: wrap;
          gap: 0.75rem;
          margin-top: 2.25rem;
          margin-bottom: 1.5rem;

          .item {
            border: 1px solid #ffffff;
            padding: 0.3rem 0.9rem;
            border-radius: 1.5rem;
            text-wrap: nowrap;
          }
        }
      }
    }

    &.card-2 {
      height: 31.75rem;
      position: relative;
      background: url("/home/feature-2.png") center/cover no-repeat;
      aspect-ratio: 1 / 1.5;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        .text-1 {
          // font-family: DFVN MBF Space Habitat;
          font-size: 32px;
        }
        .text-2,
        .text-3 {
          font-size: 14px;
        }
      }
    }

    &.card-3 {
      display: flex;
      flex-direction: column;
      position: relative;
      background: url("/home/feature-3.png") center/cover no-repeat;
      text-transform: uppercase;
      aspect-ratio: 1 / 1;

      .text-1 {
        font-size: 3rem;
        font-weight: 500;
        font-style: Medium;
      }
      .text-2 {
        font-weight: 600;
        font-style: SemiBold;
        font-size: 1.5rem;
      }
      .text-3 {
        font-weight: 500;
        font-style: Medium;
        font-size: 2rem;
        margin-top: 5rem;
      }
    }
  }
}

.section-container {
  margin-top: 24rem;
  padding: 0 14rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.whychoose {
  .whychoose-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .whychoose-left {
    min-width: 300px;
  }

  .whychoose-right {
    min-width: 280px;
    background: #ffffffd9;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    .whychoose-button {
      font-size: 1rem;
      font-size: medium;
      font-weight: 500;
    }
  }

  .whychoose-subtitle {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #222;
  }

  .whychoose-title {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    color: #222;
  }

  .whychoose-desc {
    font-size: 15px;
    line-height: 1.6;
    color: #444;
  }

  .whychoose-right ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;

    li {
      font-size: 15px;
      margin-bottom: 8px;
      color: #333;
    }
  }
}

.howtouse {
  display: flex;
  flex-direction: column;

  .howtouse-header {
    .howtouse-subtitle {
      font-size: 1.25rem;
      font-weight: 700;
      color: #222;
      margin-bottom: 8px;
      width: fit-content;
    }

    .howtouse-title {
      font-size: 4rem;
      font-weight: 800;
      margin-bottom: 32px;
      color: #222;
    }
  }

  .howtouse-container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    .howtouse-left {
      width: 25.5rem;
      aspect-ratio: 1 / 1;
      border-radius: 1rem;
      background: url("/home/feature-2.png") center/cover no-repeat;
    }

    .howtouse-right {
      min-width: 320px;
      .howtouse-steps {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .step {
          display: flex;
          align-items: flex-start;
          align-items: center;
          gap: 1rem;

          .step-icon {
            color: #222;
            font-size: 18px;
            line-height: 1;
            margin-top: 2px;
          }

          .step-content {
            flex: 1;
            display: flex;
            justify-content: space-evenly;
            gap: 2rem;
            span {
              font-size: 16px;
              font-weight: 700;
              color: #222;
              flex: 0 0 30%;
            }

            p {
              flex: 1;
              font-size: 14px;
              color: #555;
            }
          }
        }
      }
    }
  }

  .howtouse-button-container {
    margin-top: 2.5rem;
    font-size: 1.25rem;
  }
}

.outstanding-features {
  .outstanding-features-header {
    .outstanding-features-subtitle {
      font-size: 1.25rem;
      font-weight: 700;
      color: #222;
      margin-bottom: 8px;
      width: fit-content;
      text-transform: uppercase;
    }

    .outstanding-features-title-container {
      display: flex;
      justify-content: space-between;
      color: #262138;

      .outstanding-features-title {
        font-size: 4rem;
        font-weight: 800;
        margin-bottom: 32px;
        color: #222;
        text-transform: uppercase;
        margin-right: 2rem;
      }

      .outstanding-features-title-cta {
        margin-right: 2rem;
        div {
          font-size: 1.5rem;
          margin-bottom: 0.75rem;
        }

        .outstanding-features-learn-more-button {
          font-size: 1.5rem;
        }
      }
    }
  }

  .outstanding-features-content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;

    .feature-item {
      flex: 1;
      padding: 1rem;
      border-radius: 1rem;
      position: relative;
      aspect-ratio: 1 / 1.25;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      background: linear-gradient(#fff0 12.9%, #fff 81.17%);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      .image-container {
        position: relative;
        z-index: -1;
        flex: 1;
      }
      .text-container {
        flex: 1;
        h4 {
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
          z-index: 1;
          position: relative;
          align-self: flex-end;
          color: #4a4363;
          // padding-top: 11rem;
        }

        p {
          font-size: 1rem;
          line-height: 1.5;
          z-index: 1;
          position: relative;
          color: #000000;
        }
      }

      .image {
        z-index: -1;
      }
    }
  }
}

.core-values {
  .core-values-header {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .core-values-title-container {
      flex: 1.5;
      .core-values-subtitle {
        font-size: 1.25rem;
        font-weight: 700;
        color: #222;
        margin-bottom: 8px;
        width: fit-content;
        text-transform: uppercase;
      }

      .core-values-title {
        font-size: 4rem;
        font-weight: 800;
        color: #222;
      }
    }

    .core-values-title-cta {
      flex: 1;
      color: #262138;
      align-self: flex-end;
      font-size: 1rem;
      line-height: 1.5rem;
      ul {
        list-style: none;
      }
    }
  }

  .core-values-content-container {
    background: url("/home/core-values.png") center/cover no-repeat;
    width: 100%;
    aspect-ratio: 10/ 3;
    position: relative;
    margin-top: 2rem;

    .learn-more-button-container {
      position: absolute;
      bottom: 0rem;
      right: 0rem;
      padding: 1.25rem 0 0 1.25rem;
      border-radius: 2rem 0 0 0;
      background: var(--background);

      .learn-more-button {
        font-size: 3rem;
        padding: 1rem 2rem;
      }

      .content-container {
        position: relative;
        .mask-border-1-container {
          position: absolute;
          bottom: 0;
          left: -3.75rem;
        }
        .mask-border-2-container {
          position: absolute;
          top: -3.75rem;
          right: 0;
        }
      }
    }
  }
}

.customer-stories {
  .customer-stories-header {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .customer-stories-title-container {
      flex: 1.5;
      .customer-stories-subtitle {
        font-size: 1.25rem;
        font-weight: 700;
        color: #222;
        margin-bottom: 8px;
        width: fit-content;
        text-transform: uppercase;
      }

      .customer-stories-title {
        font-size: 4rem;
        font-weight: 800;
        color: #222;
        text-transform: uppercase;
      }
    }

    .customer-stories-title-cta {
      background: url("/home/core-values.png") center/cover no-repeat;
      width: 100%;
      aspect-ratio: 2 / 1;
      position: relative;
      flex: 1;
      border-radius: 1.25rem;

      .learn-more-button-container {
        position: absolute;
        bottom: 0rem;
        left: 0rem;
        padding: 1rem 2rem 1rem 0;
        border-radius: 0 1rem 0 0;
        background: var(--background);

        .learn-more-button {
          font-size: 1.25rem;
        }

        .content-container {
          position: relative;
          .mask-border-1-container {
            position: absolute;
            bottom: -1rem;
            right: -3rem;
          }
          .mask-border-2-container {
            position: absolute;
            top: -2rem;
            left: 0;
          }
        }
      }
    }
  }

  .customer-stories-content-container {
    .comments-container {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;

      .comment-learn-more {
        width: 25rem;
        height: auto;
        background: url("/home/comment-learn-more.png") center/cover no-repeat;
        border-radius: 1.25rem;
        text-align: end;
        position: relative;
        cursor: pointer;

        .overlay {
          background: #ffde15b8;
          padding: 2rem;
          border-radius: 1.25rem;
          height: 100%;
        }

        .learn-more-text {
          position: absolute;
          bottom: 1rem;
          text-align: start;
          font-size: 1.5rem;
          font-weight: 600;
        }
        .learn-more-icon {
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
      }
    }

    .question-list-container {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      justify-content: space-between;
      padding: 0 2rem;
      gap: 2rem;
      .question-list {
        display: flex;
        gap: 1rem;
        .question-item {
          border-radius: 5rem;
          background-color: #ffffff;
          font-size: 20px;
          color: #4a4363;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
