.mask-border-box {
  position: relative;
  overflow: visible;
  background: #ffffff;
  &.small {
    width: 1rem;
    height: 1rem;

    &.bottom-left {
      mask: radial-gradient(circle at top right, transparent 0.96rem, black 1rem);
    }
  }

  &.medium {
    width: 2.5rem;
    height: 2.5rem;

    &.bottom-right {
      mask: radial-gradient(circle at top left, transparent 2.46rem, black 2.5rem);
    }
  }

  &.large {
    width: 6rem;
    height: 6rem;
  }
}
