.slider {
  overflow: hidden;
  position: relative;
  border-radius: 1.25rem;
}

.slides {
  display: flex;
}

.slide {
  // width: 100%;
  flex-shrink: 0;
  position: relative;
  background: transparent;
}

.slide img {
  width: 100%;
  display: block;
}

.dots {
  position: absolute;
  bottom: 1rem;
  left: 1.25rem;
  display: flex;
  gap: 0.5rem;

  .dot {
    z-index: 10;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    transition: 0.3s;

    &.active {
      background: #ffd700;
      transform: scale(1.2);
    }
  }

  &.dots-bottomLeft {
    left: 1.25rem;
    bottom: 1rem;
  }
  &.dots-bottomMiddle {
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
  }
  &.dots-bottomRight {
    right: 1.25rem;
    left: auto;
    bottom: 1rem;
  }
}
