.text-hightlight-half {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #ffe600;
    z-index: -1;
  }
}
